{% extends 'base/base.html' %}
{% block content %}
{% load  static %}
<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <!-- Breadcubs Area End Here -->
    <!-- Admit Form Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>{{ add_new_object }}</h3>
                </div>
            </div>
            <br>
            <br>
            <form class="new-added-form" method="post">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="" class="form-control">
                        <div style="color: red">{{ field.errors }}</div>
                    </div>
                    {% endfor %}
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Admit Form Area End Here -->
</div>
</div>
<!-- Page Area End Here -->
</div>
{% endblock %}
